.main {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;

    background-image: linear-gradient(to bottom, #F3F5FA, #ffffff);
}

.mainPage {
    max-width: 1200px;
    height: 100%;
    min-height: 980px;

    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    position: relative;
}

.bgTitle {
    width: 100%;
    position: absolute;
    top: 38vh;
}

.bgTitleText {
    text-align: center;
    color: #0000000a;
    font-family: var(--font-montserrat);
    font-weight: 900;
    font-size: 8rem;
    letter-spacing: 0.31em;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 13vh;
    justify-content: center;
    text-align: center;
}

.titleText {
    font-size: 3rem;
    color: #000000;
    font-weight: var(--font-bold);
    letter-spacing: -0.07rem;
}

.titleSub {
    margin-top: 0.575rem;
    font-size: 1.25rem;
    font-weight: var(--font-medium);
    color: #777777;
}

.imgArea {
    width: 100%;
    max-width: 1200px;

    position: absolute;
    bottom: 0;
}

.image {
    width: 1200px;
    height: 660px;
    margin: 0 auto;

    position: relative;
}

.scrollDown {
    width: 58px;
    height: 72px;

    margin: 0 auto;

    display: block;
    position: relative;

    bottom: 100px;

    z-index: 30;
    opacity: 0.5;
}