.menu {
    display: flex;
    grid-area: right;
    justify-self: right;
    align-items: center;
    text-align: center;
    position: relative;
}

.memuList {
    display: flex;
    width: 385px;
    height: 100%;
    justify-content: space-between; 
    
    font-family: var(--font-montserrat);
    font-size: 1.125rem;
    letter-spacing: -0.023rem;
    color: var(--font-gray);
    font-weight: var(--font-regular);
}

.menuButton {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.menuButton:hover {
    transition: 0.25s;

    color: #9DA5F4;
}

@media screen and (min-width:768px) and (max-width:1279px) { 
    .memuList {
        width: 340px;
        font-size: 1rem;
    }
} 

@media screen and (min-width:480px) and (max-width:767px) { 
    .memuList {
        width: 240px;
        font-size: 0.825rem;
    }
} 

@media screen and (max-width:479px) { 
    .memuList {
        width: 180px;
        font-size: 0.725rem;
    }
} 