.menu {
    display: flex;
    grid-area: right;
    justify-self: right;
    align-items: center;
    text-align: center;
    position: relative;
}

.memuList {
    display: flex;
    width: 385px;
    height: 100%;
    justify-content: space-between; 
    
    font-family: var(--font-montserrat);
    font-size: 1.125rem;
    letter-spacing: -0.023rem;
    color: var(--font-gray);
    font-weight: var(--font-regular);
}

.menuButton {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.menuButton:hover {
    transition: 0.25s;

    color: #9DA5F4;
}