.workItem {
    height: 480px;

    position: relative;

    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #0000001a;
    overflow: hidden;
}

.workThumbnail {
    position: relative;
    height: 58%;
    background-color: #505050;
}

.workThumbnail:hover .workHover{
    visibility: visible;
}

.workHover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFFFFFbf;
    backdrop-filter: blur(10px);
    z-index: 25;
    visibility: hidden;
}

.workHover > .workMore {
    padding: 1rem 4.75rem;
    border: 1px #505050 solid;
    border-radius: 999px;

    color: #505050;
    font-weight: var(--font-semibold);
    font-size: 1rem;
    letter-spacing: -0.03em;
    text-align: center;
}

.workMore:hover {
    background-color: #5050501a;
    cursor: pointer;
}

.workText {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.workText > .workTitle {
    color: #505050;
    font-weight: var(--font-bold);
    font-size: 1.375rem;
    letter-spacing: -0.05em;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-white-space: nowrap;
    overflow: hidden;
}

.workTitle:hover {
    text-decoration: underline;
}

.workText > .workSub {
    color: #787878;
    font-weight: var(--font-regular);
    font-size: 1rem;
    letter-spacing: -0.03em;
    line-height: 140%;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.workTags {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding: 35px 40px;
    bottom: 0;
    
}

.workTags > .tagArea {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;

    padding-bottom: 2px;
}

.tagArea > .workTagButton {
    padding: 0.5rem 0.7rem;
    
    color: #FFFFFF;
    font-family: var(--font-montserrat);
    font-weight: var(--font-regular);
    font-size: 0.75rem;
    letter-spacing: -0.03em;

    border-radius: 8px;
    background-color: #505050;
}

#tagEnable.workItem {
    display: flex;
}

#tagDisable.workItem {
    display: none;
}

@media screen and (min-width:768px) and (max-width:1279px) { 
    .workItem {
        height: 385px;
    }

    .workThumbnail {
        height: 46%;
    }

    .workHover > .workMore {
        padding: 1rem 4rem;
    }

    .workText > .workTitle {
        font-size: 1.25rem;
    }

    .workText > .workSub {
        font-size: 0.925rem;
    }

    .workTags > .workTagButton {
        padding: 0.425rem 0.7rem;
        font-weight: var(--font-regular);
        font-size: 0.7rem;
        border-radius: 9px;
    }
} 

@media screen and (max-width:767px) { 
    .workItem {
        height: 380px;
    }

    .workThumbnail {
        height: 45%;
    }

    .workHover > .workMore {
        padding: 0.725rem 4rem;
    }

    .workText {
        padding: 0 2.5rem;
    }

    .workText > .workSub {
        font-size: 0.95rem;
    }

    .workText > .workTitle {
        font-size: 1.25rem;
    }

    .workTags {
        padding: 35px 2.5rem;
    }

    .workTags > .workTagButton {
        padding: 0.425rem 0.65rem;
        font-weight: var(--font-regular);
        font-size: 0.7rem;
        border-radius: 9px;
    }
} 

@media screen and (max-width:767px) { 
    
}