.works {
    width: 100%;
    position: relative;

    background: #F8F8FF;
    white-space: pre-wrap;
    scroll-margin: 80px;
}

.innerPadding {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 115px;
    border-bottom: 1px #0000001a solid;
}

.title {
    padding-top: 110px;
    text-align: center;

    font-family: var(--font-montserrat);
    font-weight: var(--font-light);
    font-size: 3rem;
}

.tagSelect {
    width: 480px;
    height: 68px;
    margin: 0 auto;
    margin-top: 64px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    border-radius: 999px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #00000011;

    font-family: var(--font-montserrat);
}

.button {
    padding: 12px 30px;
    border-radius: 999px;
    cursor: pointer;
}

.active {
    background-color: #505050;
    color: #FFFFFF;

    font-weight: var(--font-medium);
    font-size: 1.125rem;

    transition: 0.5s;
}

.none {
    background-color: #FFFFFF;
    color: #505050;

    font-weight: var(--font-regular);
    font-size: 1rem;

    transition: 0.25s;
}

.none[name="art"],
.active[name="art"] {
    padding: 12px 32px;
}

.none[name="doc"],
.active[name="doc"] {
    padding: 12px 15px;
}

.workList {
    display: grid;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.workItem {
    height: 480px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;

    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #0000001a;
    overflow: hidden;
}

.workThumbnail {
    position: relative;
    height: 58%;
    background-color: #505050;

    cursor: pointer;
}

.workThumbnail:hover .workHover{
    visibility: visible;
}

.workHover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFFFFFbf;
    backdrop-filter: blur(10px);
    z-index: 25;
    visibility: hidden;
}

.workHover > .workMore {
    padding: 0.75rem 4.75rem;
    border: 1px #505050 solid;
    border-radius: 999px;

    color: #505050;
    font-weight: var(--font-semibold);
    font-size: 1rem;
    letter-spacing: -0.03em;
    text-align: center;
}

.workText {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.workText > .workTitle {
    color: #505050;
    font-weight: var(--font-bold);
    font-size: 1.5rem;
    letter-spacing: -0.05em;
}

.workText > .workSub {
    color: #787878;
    font-weight: var(--font-regular);
    font-size: 1rem;
    letter-spacing: -0.03em;
}

.workTags {
    position: absolute;
    padding: 35px 40px;
    bottom: 0;

    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.workTags > .workTagButton {
    padding: 0.5rem 0.625rem;
    
    color: #FFFFFF;
    font-family: var(--font-montserrat);
    font-weight: var(--font-legular);
    font-size: 0.825rem;
    letter-spacing: -0.03em;

    border-radius: 8px;
    background-color: #505050;
}