.works {
    width: 100%;
    position: relative;

    background: #F8F8FF;
    white-space: pre-wrap;
    scroll-margin: 80px;
}

.innerPadding {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 115px;
    border-bottom: 1px #0000001a solid;
}

.title {
    padding-top: 110px;
    text-align: center;

    font-family: var(--font-montserrat);
    font-weight: var(--font-light);
    font-size: 3rem;
}

.tagSelect {
    width: 500px;
    height: 68px;

    margin: 0 auto;
    margin-top: 64px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    border-radius: 999px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #00000011;

    font-family: var(--font-montserrat);
}

.button {
    padding: 12px 15px;
    border-radius: 999px;
    cursor: pointer;
}

.active {
    background-color: #505050;
    color: #FFFFFF;

    font-weight: var(--font-medium);
    font-size: 1.0rem;

    transition: 0.5s;
}

.none {
    background-color: #FFFFFF;
    color: #505050;

    font-weight: var(--font-regular);
    font-size: 1rem;

    transition: 0.5s;
}

.none[name="all"], .none[name="etc"], 
.active[name="all"], .active[name="etc"] {
    padding: 12px 24px;
}

.workList {
    display: grid;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

@media screen and (min-width:768px) and (max-width:1279px) { 
    .innerPadding {
        max-width: 960px;
    }

    .tagSelect {
        width: 480px;
        height: 60px;
    }

    .button {
        padding: 10px 12px;
    }

    .active {
        font-size: 0.875rem;
    }

    .none {
        font-size: 0.875rem;
    }

    .none[name="all"], .none[name="etc"], 
    .active[name="all"], .active[name="etc"] {
        padding: 10px 24px;
    }
} 

@media screen and (max-width:767px) { 
    .works {
        scroll-margin: 60px;
    }

    .innerPadding {
        max-width: 680px;
    }

    .title {
        padding-top: 100px;
    }

    .tagSelect {
        width: 400px;
        height: 54px;
        margin-top: 48px;
    }

    .button {
        padding: 10px 10px;
    }

    .active {
        font-size: 0.875rem;
    }

    .none {
        font-size: 0.875rem;
    }

    .none[name="all"], .none[name="etc"], 
    .active[name="all"], .active[name="etc"] {
        padding: 10px 24px;
    }

    .workList {
        display: grid;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
} 

@media screen and (max-width:479px) { 
    .tagSelect {
        width: auto;
        height: 56px;
        margin-top: 42px;
        
        border-radius: 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px #00000011;

        padding-right: 12px;
        padding-left: 12px;
    }

    .button {
        padding: 10px 0;
    }

    .active {
        font-size: 0.8rem;
        background-color: #FFFFFF;
        color: #505050;
        font-weight: 800;
        text-decoration: underline;
    }

    .none {
        font-size: 0.8rem;
    }

    .none[name="all"], .none[name="etc"], 
    .active[name="all"], .active[name="etc"] {
        padding: 10px 0;
    }

    .workList {
        display: grid;
        padding-top: 40px;
        padding-left: 5px;
        padding-right: 5px;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
} 