.fab {
    position: sticky;
    width: 50px;
    top: 110px;
    margin-left: 40px;

    z-index: 9999;
}

.fabArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.fabItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.fabButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background: linear-gradient(to bottom, #F3F5FA, #ffffff);
    border-radius: 99999px;
    border: 0;

    cursor: pointer;
}

#close {
    background: #353535;   
    border: none;
}

#close > img {
    filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(143deg) brightness(103%) contrast(107%);
}

.fabText {
    color: #FFFFFF;
    font-weight: var(--font-medium);
    font-size: 0.875rem;
    letter-spacing: -0.05em;
    text-indent: -0.05em;
}

.hide {
    display: none;
}

@media screen and (min-width:768px) and (max-width:1279px) { 
    .fab {
        top: 60px;
        margin-left: 25px;
    }
} 

@media screen and (max-width:767px) { 
    .fabArea {
        position: fixed;
        right: 20px;
        bottom: 20px;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    .fabButton {
        width: 50px;
        height: 50px;
        border: 1px #dcdcdcd9 solid;
        background: #ffffff;
    }

    .fabText {
        display: none;
    }
}